.intro-banner {
	width: 100%;

	.intro-banner-wrapper {
		display: flex;
		justify-content: space-between;
		gap: 1rem;
		height: 300px;

		@media (max-width: 767px) {
			flex-direction: column;
		}

		@media (max-width: 992px) {
			height: auto;
		}

		.intro-banner-items {
			border-radius: 16px;
			flex: 1;
			transition: scale 0.5s;
			position: relative;
			overflow: hidden;

			&:hover img {
				transform: scale(1.1);
			}

			&:nth-child(2) {
				flex: 2;
			}

			.intro-text {
				position: absolute;
				bottom: 16px;
				left: 16px;

				.intro-title {
					color: #ffffff;
					padding-bottom: 24px;

					@media (max-width: 992px) {
						padding-bottom: 8px;
					}
				}
			}

			.intro-image {
				position: absolute;
				z-index: -1;
				width: 100%;
				height: 100%;
				overflow: hidden;

				@media (max-width: 992px) {
					position: unset;
					height: unset;
				}

				&>img {
					width: 100%;
					height: 100%;
					border-radius: 16px;
					transition: transform 0.5s ease;

					@media (min-width: 576px) and (max-width: 992px) {
						height: 400px;
					}
					@media (max-width: 576px) {
						height: 260px;
					}
				}
			}
		}
	}
}