.intro-banner {
	width: 100%;

	.intro-banner-wrapper {
		display: flex;
		justify-content: space-between;
		gap: 1rem;
		height: 300px;

		@media (max-width: 992px) {
			flex-direction: column;
		}

		@media (max-width: 767px) {
			height: auto;
		}

		.intro-banner-items {
			border-radius: 16px;
			flex: 1;
			transition: scale 0.5s;
			position: relative;
			overflow: hidden;

			&:hover img {
				transform: scale(1.1);
			}

			&:nth-child(2) {
				flex: 2;
			}

			.intro-text {
				position: absolute;
				bottom: 16px;
				left: 16px;

				.intro-title {
					color: #ffffff;
					padding-bottom: 24px;

					@media (max-width: 767px) {
						padding-bottom: 8px;
					}
				}

				.intro-redirect {
					color: #ffffff;
				}
			}

			.intro-image {
				position: absolute;
				z-index: -1;
				width: 100%;
				height: 100%;
				overflow: hidden;

				@media (max-width: 767px) {
					position: unset;
					height: unset;
				}

				&>img {
					width: 100%;
					height: 100%;
					border-radius: 16px;
					transition: transform 0.5s ease;

					@media (max-width: 767px) {
						height: unset;
					}
				}
			}
		}
	}
}

.fc-popup-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
	animation: fadeIn 0.3s ease-in-out;
}

.fc-popup-content {
	position: relative;
	background: #ffffff;
	padding: 20px;
	border-radius: 16px;
	max-width: 90%;
	max-height: 80%;
	text-align: center;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
	overflow: auto;
	animation: zoomIn 0.3s ease-in-out;
}

.fc-popup-close {
	position: absolute;
	top: 12px;
	right: 16px;
	background: transparent;
	border: none;
	font-size: 28px;
	cursor: pointer;
	color: #333;
	transition: 0.2s;

	&:hover {
		color: #ff4d4d;
		transform: scale(1.1);
	}
}

.fc-popup-image {
	max-width: 100%;
	height: auto;
	border-radius: 10px;
}

.fc-popup-name {
	margin-top: 12px;
	font-size: 18px;
	font-weight: 600;
	color: #333;
}

/* ===== Animations ===== */
@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes zoomIn {
	from {
		transform: scale(0.9);
		opacity: 0;
	}

	to {
		transform: scale(1);
		opacity: 1;
	}
}