.mugil-fc-container {
  width: 100%;

  .mugil-fc-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;

    &.homepage {
      grid-template-columns: repeat(5, 1fr);
    }

    .mugil-fc-product {
      padding: 10px;
      box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .1);
      flex: 1;
      background: #ffffff;
      border: 1px solid #ebebeb;
      border-radius: 16px;
      height: 368px;
      transition: all 0.7s;

      &.square {
        height: 250px;
      }

      &:hover {
        box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .5);
        transition: all 0.7s;
      }

      .fc-img-wrapper-link {
        height: 100%;
        text-decoration: none;
      }

      .fc-img-wrapper {
        overflow: hidden;
        width: inherit;
        height: inherit;

        img {
          width: 100%;
          height: 100%;
          transition: transform 0.5s ease;
          object-fit: cover;

          &:hover {
            transform: scale(1.1);
          }
        }
      }

      .fc-text-wrapper {
        padding: 10px 0px;
        text-align: center;

        .fc-price-title {
          color: var(--blue-gradient);
          font-weight: 700;
        }

        .fc-price {
          color: var(--blue-gradient);
        }
      }
    }
  }
}