.mugil-fc-container {
  width: 100%;

  .mugil-fc-wrapper {
    display: flex;
    gap: 24px;

    .mugil-fc-product {
      flex: 1;
      background: #ffffff;
      border: 1px solid var(--line);
      border-radius: 16px;
      padding: 24px;

      .fc-img-wrapper-link {
        text-decoration: none;
      }

      .fc-img-wrapper {
        width: inherit;

        img {
          width: 100%;
        }
      }

      .fc-text-wrapper {
        padding: 10px 0px;
        text-align: center;

        .fc-price-title {
          color: var(--blue-gradient);
          font-weight: 700;
        }

        .fc-price {
          color: var(--blue-gradient);
        }
      }
    }
  }
}