.mugil-fc-container {
  width: 100%;

  .mugil-fc-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;

    &.homepage {
      grid-template-columns: repeat(5, 1fr);

      @media (max-width: 1100px) {
        grid-template-columns: repeat(4, 1fr);
      }

      @media (max-width: 767px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media (max-width: 576px) {
        gap: 6px;
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &.auto-layout {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

      @media (max-width: 767px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media (max-width: 576px) {
        gap: 6px;
        grid-template-columns: repeat(2, 1fr);
      }

      .mugil-fc-product.square {
        height: 326px;

        @media (max-width: 992px) {
          height: 260px;

        }

        @media (max-width: 767px) {
          height: 160px;
        }
      }

    }

    &.three-col {
      grid-template-columns: repeat(3, 1fr);

      @media (max-width: 576px) {
        gap: 6px;
        grid-template-columns: repeat(1, 1fr);
        .mugil-fc-product {
          height: 300px;
        }
      }
    }

    .mugil-fc-product {
      padding: 10px;
      box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .1);
      background: #ffffff;
      border: 1px solid #ebebeb;
      border-radius: 16px;
      height: 368px;
      transition: all 0.7s;

      @media (max-width: 1100px) {
        height: 310px;
      }

      @media (max-width: 767px) {
        height: 250px;
      }

      @media (max-width: 576px) {
        height: 220px;
      }

      &.square {
        height: 250px;

        @media (max-width: 1100px) {
          height: 230px;
        }

        @media (max-width: 767px) {
          height: 180px;
        }

        @media (max-width: 576px) {
          height: 160px;
        }
      }

      &:hover {
        box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .5);
        transition: all 0.7s;
      }

      .fc-img-wrapper-link {
        position: relative;
        height: 100%;
        text-decoration: none;
        cursor: pointer;
      }

      .fc-img-wrapper {
        overflow: hidden;
        width: inherit;
        height: inherit;
        border-radius: 8px;

        img {
          width: 100%;
          height: 100%;
          transition: transform 0.5s ease;
          object-fit: cover;
          border-radius: 8px;

          &:hover {
            border-radius: 8px;
            transform: scale(1.1);
          }
        }
      }

      .fc-text-wrapper {
        position: absolute;
        bottom: 0;
        padding: 10px;
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        text-align: left;

        .fc-price-title {
          color: #ffffff;
          font-size: 14px;
          line-height: 100%;
          @media(max-width: 767px) {
            font-size: 12px;
          }
        }

        .fc-price {
          color: var(--blue-gradient);
        }
      }
    }
  }

  /* ===== POPUP STYLES ===== */
  .fc-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); // 0.6 opacity background
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    animation: fadeIn 0.3s ease-in-out;
  }

  .fc-popup-content {
    position: relative;
    background: #ffffff;
    padding: 6px;
    border-radius: 12px;
    max-width: 90%;
    max-height: 80%;
    height: 100%;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    animation: zoomIn 0.3s ease-in-out;

    @media (max-width: 767px) {
      height: auto;
    }
  }

  .fc-popup-close {
    position: absolute;
    top: 12px;
    right: 25px;
    background: transparent;
    border: none;
    font-size: 28px;
    cursor: pointer;
    color: #333;
    transition: 0.2s;

    &:hover {
      color: var(--blue-gradient);
      transform: scale(1.1);
    }
  }

  .fc-popup-image {
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  /* ===== Animations ===== */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes zoomIn {
    from {
      transform: scale(0.9);
      opacity: 0;
    }

    to {
      transform: scale(1);
      opacity: 1;
    }
  }
}