.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.page-loader.fade-out {
  opacity: 0;
  pointer-events: none;
}

.loader-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}