.testimonials {
	width: 100%;

	.fa-star::before,
	.fa-star-half-alt {
		color: #FFD700;

	}

	.swiper-button-prev {
		left: 4%;
		display: none;
	}

	.swiper-button-next {
		right: 4%;
		display: none;
	}

	.swiper-pagination {
		position: unset;
	}
}