.iframe {
  width: 100%;
  padding: 50px 30px;

  @media (max-width: 992px) {
    padding: 1rem;
  }

  .map {
    width: 100%;
    border-radius: 16px;
    height: 500px;

    @media (max-width: 992px) {
      border-radius: 8px;
    }
  }
}