.stacking-cards__container {
  position: relative;
  @media (max-width: 768px) {
    overflow: unset;
  }
}

.stacking-cards {
  --num-cards: 4;

  view-timeline-name: --stack-cards-scroll;
  view-timeline-axis: block;

  position: relative;
}

/* Each card */
.stacking-cards__card {
  margin: 0 auto;
  width: 80vw;
  position: sticky;
    top: 76px;
  --index0: calc(var(--index) - 1);
  // --reverse-index: calc(var(--num-cards) - var(--index0));
  --reverse-index0: calc(var(--reverse-index) - 1);
  isolation: isolate;
  z-index: var(--reverse-index); // Higher cards appear on top
  margin-bottom: 20px; // slight gap before animation takes over

  @media (max-width: 768px) {
    top: 16px;
    width: 100%;
  }

  .stacking-cards__content {
    transform-origin: center top;

    --start-range: calc((var(--index0) / var(--num-cards)) * 100%);
    --end-range: calc((var(--index) / var(--num-cards)) * 100%);

    animation: scale-down linear forwards;
    animation-timeline: --stack-cards-scroll;
    animation-range: exit-crossing var(--start-range) exit-crossing var(--end-range);
  }
}

/* Image */
.stacking-cards__image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
}

/* Card Body */
.stacking-cards__body {
  position: absolute;
  bottom: 50%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  text-align: center; 
  h2 {
    color: #ffffff;
    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 100%;
    } 
  }
}

/* Animation — scales cards downward as they exit */
@keyframes scale-down {
  to {
    transform: scale(calc(1.08 - (0.08 * var(--reverse-index))));
  }
}
