.product-tabs {
	width: 100%;
	background: #f4f4f4;

	.nav-tabs {
		border: none;

		.nav-item {
			padding: 20px 24px;

			&:first-child {
				padding-left: 0;
			}
		}

		.nav-link {
			background: inherit;
			border: none;
			padding: 0;

			&:focus {
				border: unset;
				outline: unset;
			}

			h2 {
				color: #000000;
				background-color: #f4f4f4;
			}

			&.active h2 {
				color: var(--blue-gradient);
				background: inherit;
				padding-bottom: 10px;
				border-bottom: 1px solid var(--blue-gradient);
			}
		}
	}
}