.product-tabs {
	width: 100%;
	background: #f4f4f4;
	padding-bottom: 64px !important;

	@media (max-width: 767px) {
		padding-bottom: 2rem !important;
	}

	.nav-tabs {
		border: none;

		@media (max-width: 767px) {
			flex-wrap: nowrap;
			overflow-x: auto;
			overflow-y: hidden;
			-webkit-overflow-scrolling: touch;
			-ms-overflow-style: none;
			scrollbar-width: none;

			&::-webkit-scrollbar {
				display: none;
			}
		}
	}

	.nav-item {
		padding: 20px 24px;

		@media (max-width: 767px) {
			padding: 10px;
			flex: 0 0 auto;
		}

		&:first-child {
			padding-left: 0;
		}
	}

	.nav-link {
		background: inherit;
		border: none;
		padding: 0;

		&:focus {
			border: unset;
			outline: unset;
		}

		h2 {
			color: #000000;
			background-color: #f4f4f4;

			&:hover {
				color: var(--blue-gradient);
			}

			@media (max-width: 767px) {
				font-size: 20px;
			}
		}

		&.active h2 {
			color: var(--blue-gradient);
			background: #f4f4f4;
			padding-bottom: 10px;
			border-bottom: 3px solid var(--blue-gradient);
		}
	}
}