.mugil-gallery {
	width: 100%;

	.mugil-titles {
		padding: 20px 30px 0px 30px;
		text-align: center;

		.mugil-gallery-title {

			@media (max-width: 425px) {
				padding-bottom: 0px;
			}
		}
	}

	.mugil-gallery-wrapper {
		padding: 40px 30px 80px 30px;
		display: flex;
		justify-content: center;
		gap: 28px;

		@media (max-width: 992px) {
			gap: 15px;
		}

		@media (max-width: 576px) {
			padding: 20px 25px;
		}

		.mg-boxes {
			display: block;
			text-decoration: none;
			height: 621px;
			position: relative;

			@media (max-width: 992px) {
				height: 500px;
			}

			@media (max-width: 768px) {
				height: 321px;
			}

			@media (max-width: 425px) {
				height: 200px;
			}

			.mg-static {
				border-radius: 18px;

				img {
					width: 100%;
					height: 100%;
					box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
					border-radius: 18px;

					@media (max-width: 768px) {
						border-radius: 12px;
					}
				}
			}

			.mg-dynamic {
				border-radius: 18px;

				img {
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					border-radius: 18px;
					box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

					/* Initial state (hidden) */
					clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
					transition: clip-path 0.8s ease-in-out, opacity 0.8s ease-in-out;
					opacity: 0;

					@media (max-width: 768px) {
						border-radius: 12px;
					}
				}
			}

			&:hover {
				.mg-dynamic img {
					@media (min-width: 768px) {
						/* Reveal state */
						clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
						opacity: 1;
					}
				}
			}
		}

		/* First column */
		.mg-first {
			width: 41.653%;
			height: 621px;

			@media (max-width: 992px) {
				height: 500px;
			}

			@media (max-width: 768px) {
				height: 321px;
			}

			@media (max-width: 425px) {
				height: 200px;
			}

			.mg-static img,
			.mg-dynamic img {
				height: 100%;
			}
		}

		/* Second column */
		.mg-second {
			display: flex;
			flex-direction: column;
			gap: 23px;
			width: 27.462%;
			height: 621px;

			@media (max-width: 992px) {
				gap: 20px;
				height: 500px;
			}

			@media (max-width: 768px) {
				height: 321px;
				gap: 10px;
			}

			@media (max-width: 425px) {
				height: 200px;
			}

			.mg-boxes {
				width: 100%;
				height: 50%;
			}

			.mg-static,
			.mg-dynamic {
				height: 100%;

				img {
					height: 100%;
				}
			}
		}

		/* Last column */
		.mg-last {
			width: 30.89%;
			height: 621px;

			@media (max-width: 992px) {
				height: 500px;
			}

			@media (max-width: 768px) {
				height: 321px;
			}

			@media (max-width: 425px) {
				height: 200px;
			}

			.mg-static img,
			.mg-dynamic img {
				height: 100%;
			}
		}
	}
}