.shop-by-categories {
  width: 100%;


  .sbc-container {
    padding: 24px 0;
    display: flex;
    gap: 32px;

    @media (max-width: 767px) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 16px;
    }

    .sbc-cards {
      position: relative;
      flex: 1;

      @media (max-width: 767px) {
        padding: 0;
        flex: 0 0 calc(50% - 16px);
      }

      .sbc-card-img-wrapper {
        position: relative;
        display: block;

        &.sbc-card-static {
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
            border: 1px solid rgb(203, 190, 190);
            aspect-ratio: 1;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          }
        }

        &.sbc-card-dynamic {
          position: absolute;
          top: 0;
          left: 0;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
            border: 1px solid rgb(203, 190, 190);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            transition: clip-path 0.8s ease-in-out, opacity 0.8s ease-in-out;
            opacity: 0;
            top: 0;
            left: 0;
          }
        }
      }

      &:hover {
        .sbc-card-dynamic img {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          opacity: 1;
        }
      }

      .sbc-card-text-wrapper {
        padding: 20px 0;
      }
    }
  }
}