.text-banner {
  width: 100%;
  padding: 64px 0px;
  background: linear-gradient(to right, #a18cd1, #fbc2eb);

  .box-title {
    gap: 24px;
  }

  .breadcrumb-item {
    color: grey;

    &.current {
      color: #000000;
    }

    &::before {
      padding: 0 10px;
    }
  }
}