.text-banner-wrapper {
  padding: 1rem 2rem 0rem 2rem;

  @media (max-width: 767px) {
    padding: 1rem;
  }

  .text-banner {
    width: 100%;
    padding: 64px 0px;
    background: linear-gradient(to right, #a18cd1, #fbc2eb);
    border-radius: 16px;

    .box-title {
      gap: 24px;
    }

    .text-banner-width {
      width: 70%;
      margin: 0 auto;

      @media (max-width: 992px) {
        width: 100%;
      }

      .title {
        font-size: 32px;

        @media (max-width: 767px) {
          font-size: 20px;
        }
      }
    }

    .breadcrumb-item {
      color: grey;

      &.current {
        color: #000000;
      }

      &::before {
        padding: 0 10px;
      }
    }
  }
}