.static-banner {
	width: 100%;
	display: flex;

	@media (max-width: 992px) {
		flex-direction: column;
	}

	.static-wrapper {
		width: 50%;

		@media (max-width: 992px) {
			width: 100%;
		}

		.static-image-wrapper img {
			width: 100%;
		}

		.static-content-wrapper {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background: var(--blue-secondary);

			.static-content {
				width: 60%;

				@media (max-width: 767px) {
					padding: 16px;
					width: 100%;
				}

				h2 {
					margin-bottom: 20px;

					@media (max-width: 767px) {
						text-align: center;
					}
				}

				h2,
				p {
					color: #ffffff;
				}
			}
		}
	}
}