.static-banner {
	width: 100%;
	display: flex;
	background: linear-gradient(to right, #a18cd1, #b25497);

	@media (max-width: 992px) {
		flex-direction: column;
	}

	.static-wrapper {
		width: 50%;

		@media (max-width: 992px) {
			width: 100%;
		}

		.static-image-wrapper {
			padding: 60px;

			@media (max-width: 767px) {
				padding: 0;
			}

			img {
				border: 12px solid rgb(117, 50, 117);
				box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .1);
				border-radius: 20px;
				width: 100%;

				@media (max-width: 767px) {
					border-width: 6px;
				}
			}
		}

		.static-content-wrapper {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.static-content {
				width: 85%;

				@media (max-width: 767px) {
					padding: 16px;
					width: 100%;
				}

				h2 {
					font-size: 60px;
					margin-bottom: 20px;
					color: #ffffff;

					@media (max-width: 767px) {
						font-size: 24px;
					}
				}

				p {
					font-size: 32px;
					color: #ffffff;

					@media (max-width: 767px) {
						font-size: 18px;
					}
				}
			}
		}
	}
}