@use "../../assets/styles/mixin" as *;

.mugil-header {
  width: 100%;
  background: var(--primary-white);

  @media (max-width: 992px) {
    &.header-mobile-included {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        background: #fff;
        transition: transform 0.35s ease;
      }
      &.hide-header {
        transform: translateY(-100%);
      }
  }

  .header-wrapper {
    background: var(--blue-gradient);
  }

  @media (max-width: 992px) {
    &>.browse {
      display: none;
    }
  }

  .mugil-mart-header {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 992px) {
      padding: 0 16px;
    }
    @media (max-width: 767px) {
      padding: 0 8px;
    }

    .logo {
      display: flex;
      align-items: center;
    }

    .mugil-mart-main-logo {
      width: 80px;
      height: 80px;
      padding: 10px 10px 10px 0;

      @media (max-width: 767px) {
        width: 60px;
        height: 60px;
      }
    }

    .mugil-mart-logo {
      width: 200px;
      height: 80px;
      padding: 10px 10px 10px 0;

      @media (max-width: 992px) {
        width: 180px;
      }
      @media (max-width: 767px) {
        display: none;
      }
    }

    .mugil-mart-browse {
      padding: 10px 0;
      position: relative;
      cursor: pointer;
      @include flex-center();

      .categories-title {
        display: flex;
        align-items: center;
        gap: 8px;

        &:hover+.mugil-tooltip {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }

        .browse-category {
          font-weight: bold;
          cursor: pointer;
        }
      }
    }

    .mugil-mart-logo-wrapper {
      display: inline-block;
      width: 100%;
      height: 100%;

      @media (max-width: 992px) {
        width: 100%;
      }

      .mugil-mart-img {
        width: 100%;
        height: 100%;
        object-fit: unset;
        @media (max-width: 767px) {
          object-fit: cover;
        }
      }
    }

    .mugil-mart-navbar {
      background-color: #ffffff;
      padding: 15px 30px;

      @media (max-width: 992px) {
        padding: 16px 0;
        display: flex;
        gap: 1rem;
      }

      .hamburgers {
        display: none;

        @media (max-width: 992px) {
          display: block;
        }
      }

      .input-group {
        visibility: unset;
      }
    }

    .mugil-mart-navbar-content {
      display: flex;
      list-style: none;
      justify-content: space-between;
      gap: 25px;

      @media (max-width: 850px) {
        gap: 5px;
      }

      @media (max-width: 768px) {
        flex-direction: column;
        justify-content: unset;
      }

      .mugil-mart-nav-wrap {
        text-decoration: none;
        color: #000000;
        padding-bottom: 6px;
        font-family: var(--roboto-font);
        position: relative;
        display: inline-block;
        color: inherit;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          height: 2px;
          width: 100%;
          background-color: var(--blue-gradient);
          transform: scaleX(0);
          transform-origin: left;
          opacity: 0;
          transition: transform 0.5s ease, opacity 0.5s ease;
        }

        &:hover {
          color: var(--blue-gradient);
        }

        &:not(.active):hover::after {
          transform: scaleX(1);
          opacity: 1;
        }

        &.active {
          text-decoration: underline;
          text-decoration-thickness: 2px;
          text-underline-offset: 10px;
          color: var(--blue-gradient);
        }
      }
    }

    .mugil-mart-list-wrapper {
      display: flex;
      align-items: center;
      gap: 16px;
      padding: 15px 0 15px 30px;

      .tel-number {
        color: #000000;
        text-decoration: none;
      }

      @media (max-width: 992px) {
        display: none;
      }

      .mugil-mart-items {
        .search-icon {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: var(--light-green);
          border-radius: 50%;
          transition: background-color 0.5s;
          width: 42px;
          height: 42px;
          border: 1px solid rgb(203, 190, 190);
          border-radius: 50%;
          transition: background 0.4s;

          &:hover {
            transition: background 0.4s;
            background: rgba(143, 31, 123, 0.15);
          }

          svg,
          img {
            width: 20px;
            height: 20px;
          }

          .search-icon-wrapper {
            width: 21px;
            height: 21px;
          }

          svg {
            fill: black;
          }
        }

        .cart-wrap {
          display: flex;
          align-items: center;
          gap: 8px;
          height: 50px;
          border: 1px solid var(--grey-background);
          padding: 6px 23px 6px 10px;
          border-radius: 33px;
          text-decoration: none;
          color: var(--blue-gradient);

          p {
            font-family: var(--roboto-font);
          }

          .cart-icon-wrapper {
            width: 40px;
            height: 40px;
            background-color: var(--blue-gradient);
            border-radius: 100px;
            transition: all 0.5s;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          &:hover {
            color: var(--white-color);
            background-color: var(--light-green);
            transition: all 0.5s;
          }
        }
      }
    }
  }
}