.gallery {
	width: 100%;
	overflow: hidden;

	.sbc-container {
		// padding-top: 24px;
		display: flex;
		flex-wrap: wrap;

		@media (max-width: 576px) {
			justify-content: center;
		}

		.sbc-cards {
			width: 20%;

			// transition: transform 0.5s;
			&.cards-4 {
				width: 25%;
				box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
				border-radius: 16px;
				@media (max-width: 992px) {
					width: 50%;
				}
			}

			&.padding {
				padding: 25px;

				@media (max-width: 992px) {
					padding: 10px;
				}

				.sbc-card-img-wrapper {
					border-radius: 16px;

					@media (max-width: 992px) {
						border-radius: 8px;
					}
				}
			}

			@media (max-width: 767px) {
				width: 50%;
			}

			&:hover {
				// transform: scale(1.3);
				// transition: transform 0.5s;
			}

			.sbc-card-img-wrapper {
				text-decoration: none;
				display: block;
				position: relative;
				overflow: hidden;
				transition: all 0.5s ease;
				z-index: 0;

				&:hover {
					transition: all 0.5s ease;
					transform: scale(1.1);
					z-index: 10;
					box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
				}
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				display: block;
			}
		}
	}
}

/* ===== Popup Styles ===== */
.fc-popup-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
	animation: fadeIn 0.3s ease-in-out;
}

.fc-popup-content {
	position: relative;
	background: #ffffff;
	padding: 6px;
	border-radius: 12px;
	max-width: 90%;
	max-height: 80%;
	height: 100%;
	text-align: center;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
	animation: zoomIn 0.3s ease-in-out;

	@media (max-width: 767px) {
		height: fit-content;
	}
}

.fc-popup-close {
	position: absolute;
	top: 12px;
	right: 25px;
	background: transparent;
	border: none;
	font-size: 28px;
	cursor: pointer;
	color: #333;
	transition: 0.2s;

	&:hover {
		color: var(--blue-gradient);
		transform: scale(1.1);
	}
}

.fc-popup-image {
	max-width: 100%;
	height: 100%;
	border-radius: 10px;

	@media (max-width: 767px) {
		max-height: 100%;
		overflow: hidden;
	}
}

/* ===== Animations ===== */
@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes zoomIn {
	from {
		transform: scale(0.9);
		opacity: 0;
	}

	to {
		transform: scale(1);
		opacity: 1;
	}
}