.gallery {
	width: 100%;

	.sbc-container {
		padding-top: 24px;
		display: flex;
		flex-wrap: wrap;

		.sbc-cards {
			width: 20%;
			// transition: transform 0.5s;

			@media (max-width: 767px) {
				width: 50%;
			}

			&:hover {
				// transform: scale(1.3);
				// transition: transform 0.5s;
			}

			.sbc-card-img-wrapper {
				text-decoration: none;
				display: block;
				position: relative;
				overflow: hidden;
				transition: all 0.5s ease;
				z-index: 0;

				&:hover {
					transition: all 0.5s ease;
					transform: scale(1.1);
					z-index: 10;
					box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
				}
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				display: block;
			}
		}
	}
}