.mugil_banner {
  width: 100%;
  &__wrapper {
    width: 100%;
    .swiper-button-prev {
      left: 4%;
    }
    .swiper-button-next {
      right: 4%;
    }
    .swiper-button-prev:after,
    .swiper-button-next:after {
      color: var(--blue-gradient);
      font-size: 20px;
    }
    .swiper-pagination {
      bottom: 5% !important;
    }
    .swiper-pagination-bullet-active {
      background: var(--blue-gradient);
    }
    .mugil-banner-img {
        width: 100%;
    }
  }
}