.mugil-sneak-peek {
  width: 100%;
  padding: 20px 40px 40px 40px;
  .sneak-peek-title {
    text-align: center;
    padding-bottom: 20px;
  }
  .mugil-sp-card-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    .mugil-sp-cards {
      position: relative;
      overflow: hidden;
      cursor: pointer;
      .sneak-peak-overlay {
        position: absolute;
        z-index: 2;
        text-align: center;
        bottom: 10px;
        color: var(--primary-white);
        width: 90%;
      }
      img {
        width: 100%;
        height: 100%;
        transition: transform 0.4s ease;
      }
      &:hover img {
        transform: scale(1.05);
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.3);
      }
    }
  }
}
