@use "../../assets/styles/mixin" as *;

.features {
	width: 100%;

	.features-card-wrapper {
		display: flex;
		align-items: start;
		gap: 16px;

		@media (max-width: 992px) {
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}

	.features-card {
		flex: 1;

		@media (max-width: 992px) {
			flex: unset;
			width: 48%;
		}

		@media (max-width: 767px) {
			width: 100%;
		}
	}

	.icon-round {
		@include flex-center();
		width: 64px;
		height: 64px;
		border: 1px solid rgb(203, 190, 190);
		border-radius: 50%;
	}
}