@use "../../assets/styles/mixin" as *;

.features {
	width: 100%;

	@media (max-width: 992px) {
		padding: 2rem 1rem !important;
	}

	.features-card-wrapper {
		display: flex;
		align-items: start;
		gap: 16px;

		@media (max-width: 992px) {
			flex-wrap: wrap;
			justify-content: center;
		}

		.card-title {
			font-size: 16px;
			line-height: 20px;
			padding-bottom: 10px;
		}

		.card-desc {
			font-size: 14px;
			line-height: 24px;
			color: #545454;
		}
	}

	.features-card {
		// flex: 1;

		@media (max-width: 992px) {
			width: 36%;
		}

		@media (max-width: 767px) {
			width: 48%;
		}
		@media (max-width: 600px) {
			width: 80%;
		}
		@media (max-width: 400px) {
			width: 90%;
		}
	}

	.icon-round {
		@include flex-center();
		width: 64px;
		height: 64px;
		border: 1px solid rgb(203, 190, 190);
		border-radius: 50%;
	}
}