.mugil-tooltip {
	position: absolute;
	top: 45px;
	left: 20px;
	z-index: 10;
	width: 260px;
	box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .1);
	border-radius: 16px;
	background-color: #ffffff;
	opacity: 0;
	visibility: hidden;
	transform: translateY(10px);
	transition: all 0.3s ease-in-out;

	&:hover {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}

	.mugil-tooltip-wrapper {
		display: flex;
		flex-direction: column;

		.tooltip-items {
			display: flex;
			align-items: center;
			text-decoration: none;
			color: #000000;
			gap: 16px;
			padding: 10px;
			cursor: pointer;
			border-radius: 8px;
			transition: background 0.4s;

			&:hover {
				transition: background 0.4s;
				background: rgba(143, 31, 123, 0.15);
			}

			.tooltip-img-wrapper {
				width: 40px;
				height: 40px;

				img {
					border-radius: 50%;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}