.work-process {
  text-align: center;
  padding: 4rem 2rem;
  background: #f7f7f7;

  @media (max-width: 767px) {
    padding: 1rem 0;
  }

  &__subtitle {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 0.5rem;
  }

  &__title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 3rem;
    color: #111;
  }

  &__cards {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__card {
    position: relative;
    background: #eaeaea;
    color: transparent;
    padding: 2rem 1.5rem;
    border-radius: 12px;
    flex: 1 1 300px;
    max-width: 350px;
    min-height: 260px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: all 0.5s;

    &:hover {
      background: #ffffff;
      color: rgb(208, 208, 208);
      background: linear-gradient(225.52deg, rgb(202, 164, 115) -0.42%, rgb(160, 106, 200) 84.05%) text;
      transition: all 0.5s;
    }

    @media (max-width: 767px) {
      max-width: unset;
      margin: 0 16px;
    }

    &-title {
      font-size: 1.25rem;
      font-weight: 600;
      margin-bottom: 1rem;
      color: #111;
    }

    &-desc {
      font-size: 0.95rem;
      color: #555;
      line-height: 1.5;
      margin-bottom: 1rem;
    }

    &-number {
      position: absolute;
      bottom: 10px;
      right: 50%;
      transform: translateX(50%);
      font-size: 5rem;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.08);
      pointer-events: none;
      user-select: none;
    }
  }

  @media (max-width: 992px) {
    &__cards {
      flex-direction: column;
      align-items: center;
    }
  }
}