.image-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);

  @media (max-width: 1100px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
  }

  .image {
    width: 100%;
    height: 300px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;

    @media (max-width: 767px) {
      height: 175px;
      padding: 10px;
    }

    img {
      width: 100%;
      display: block;
      height: 100%;
    }
  }
}
