.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @media (max-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
  }

  .image {
    width: 100%;

    img {
      width: 100%;
      display: block;
      object-fit: cover;
    }
  }
}
